.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Library/CurrentLayout.dwlt
Library/shadercompiler-32bit-1.log
Library/shadercompiler-64bit-1.log
Temp
*.csproj
*.pidb
*.sln
*.goutputstream*
*.userprefs